<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ShoppingApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>shop.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Shoes</display-name>
    <servlet-name>Shoes</servlet-name>
    <servlet-class>shop.Shoes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Shoes</servlet-name>
    <url-pattern>/shoes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Backpacks</display-name>
    <servlet-name>Backpacks</servlet-name>
    <servlet-class>shop.Backpacks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Backpacks</servlet-name>
    <url-pattern>/backpacks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Clothing</display-name>
    <servlet-name>Clothing</servlet-name>
    <servlet-class>shop.Clothing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Clothing</servlet-name>
    <url-pattern>/clothes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Laptops</display-name>
    <servlet-name>Laptops</servlet-name>
    <servlet-class>shop.Laptops</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Laptops</servlet-name>
    <url-pattern>/laptops</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mobiles</display-name>
    <servlet-name>Mobiles</servlet-name>
    <servlet-class>shop.Mobiles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mobiles</servlet-name>
    <url-pattern>/mobiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Invalidate</display-name>
    <servlet-name>Invalidate</servlet-name>
    <servlet-class>shop.Invalidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Invalidate</servlet-name>
    <url-pattern>/invalidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bill</display-name>
    <servlet-name>Bill</servlet-name>
    <servlet-class>shop.Bill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bill</servlet-name>
    <url-pattern>/bill</url-pattern>
  </servlet-mapping>
</web-app>